Repository dmitryserbin/azdev-task-publisher: changes, and which Azure pipelines are due for each by the changed paths.
All: CI/ci.yml, CI/release.yml

CI/ci.yml:
  jobs:
  - template: templates/build.yml
    parameters:
      task: true
      extension: true

CI/release.yml:
  pool:
    name: Default
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yml
      parameters:
        task: true
        extension: true
  - stage: Preview
    dependsOn:
    - Build
    jobs:
    - template: templates/preview.yml
      parameters:
        environmentName: Marketplace
  - stage: Release
  ...

Changelog
  CHANGELOG.md
Due: none

Fix
  Tasks/PublisherV1/task.ps1
Due: CI/ci.yml, CI/release.yml

Update pipelines (#6)
  .gitignore
  CHANGELOG.md
  CI/ci.yml
  CI/release.yml
  CI/scripts/Invoke-Restore.ps1
  CI/scripts/Invoke-Tests.ps1
  CI/scripts/Set-Version.ps1
  CI/templates/build.yml
  CI/templates/preview.yml
  CI/templates/release.yml
  CI/templates/steps/build.yml
  CI/templates/steps/package.yml
  CI/templates/steps/publish.yml
  CI/templates/variables.yml
  Package.ps1
  Tasks/PublisherV1/.artifactignore
  Tasks/PublisherV1/Publish.ps1
  Tasks/PublisherV1/Tests/task.tests.ps1
  Tasks/PublisherV1/icon.png
  Tasks/PublisherV1/icon.svg
  Tasks/PublisherV1/task.json
  Tasks/PublisherV1/task.ps1
  vss-extension.json
Due: CI/ci.yml, CI/release.yml

Fix CI triggers
  CI/release.yml
Due: CI/ci.yml

Fix CI triggers (#7)
  CI/release.yml
Due: CI/ci.yml

Path conditions:
  CI/ci.yml: any of: CI, Tasks
  CI/release.yml: any of: Tasks
